html{
    font-size:20px;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(255, 251, 245);
}
h1 {
    font-size: 60px;
    text-align: center;
  }
body{
    width:700 px;
    margin:0 auto;
    padding: 0 20px 20px 20px;
   
  }
hr{
  border-width: 2px;
  border-style:dashed;
}
footer{
  color:grey;
  font-size:x-small;
  text-align: center;
}
div{
  text-align: center;
}
text{
  text-align:left;
  margin:0%
}